<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Just Mind Work &#8211; Indore</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- <link rel="alternate" type="application/rss+xml" title="Just Mind Work &raquo; Feed" href="http://justmindwork.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Just Mind Work &raquo; Comments Feed" href="http://justmindwork.com/comments/feed/" /> -->
    <script type="text/javascript">
//       window._wpemojiSettings = {
//         "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
//         "ext": ".png",
//         "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
//         "svgExt": ".svg",
//         "source": {
//           "concatemoji": "http:\/\/justmindwork.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.5"
//         }
//       };
//       ! function (e, a, t) {
//         var n, r, o, i = a.createElement("canvas"),
//         p = i.getContext && i.getContext("2d");

//       function s(e, t) {
//         var a = String.fromCharCode;
//         p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
//         e = i.toDataURL();
//         return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
//       }

//       function c(e) {
//         var t = a.createElement("script");
//         t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
//       }

//       for (o = Array("flag", "emoji"), t.supports = {
//         everything: !0,
//         everythingExceptFlag: !0
//         },
//         r = 0;
//         r < o.length; r++) t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1;switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
//       case "emoji":
//         return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
//     }
//     return !1
//   }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
//   t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () {
//     t.DOMReady = !0
//   }, t.supports.everything || (n = function () {
//     t.readyCallback()
//   }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
//     "complete" === a.readyState && t.readyCallback()
//   })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
// }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css"> img.wp-smiley, img.emoji {  display: inline !important;   border: none !important;  box-shadow: none !important;  height: 1em !important;   width: 1em !important;  margin: 0 .07em !important;   vertical-align: -0.1em !important;  background: none !important;  padding: 0 !important; } </style>
    <link rel='stylesheet' id='airi-bootstrap-css'  href='./airi-css-bootstrap-bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css'  href='./dist-block-library-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='./contact-form-7-includes-css-styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='htbbootstrap-css'  href='./ht-mega-for-elementor-assets-css-htbbootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' id='htmega-widgets-css'  href='./ht-mega-for-elementor-assets-css-htmega-widgets.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='./elementor-assets-lib-font-awesome-css-font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='htmega-animation-css'  href='./ht-mega-for-elementor-assets-css-animation.css' type='text/css' media='all' />
    <link rel='stylesheet' id='htmega-keyframes-css'  href='./ht-mega-for-elementor-assets-css-htmega-keyframes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='airi-style-css'  href='./airi-style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='airi-font-awesome-css'  href='./airi-css-font-awesome-css-all.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css'  href='./elementor-assets-lib-eicons-css-elementor-icons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css'  href='./elementor-assets-lib-animations-animations.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'  href='./elementor-assets-css-frontend.min.css' type='text/css' media='all' />
    <!-- <style id='elementor-frontend-inline-css' type='text/css'> @font-face{font-family:eicons;src:url(./fonts/eicons.eot);src:url(./fonts/eicons.eot#iefix) format("embedded-opentype"),url(./fonts/eicons.woff2) format("woff2"),url(./fonts/eicons.woff) format("woff"),url(./fonts/eicons.ttf) format("truetype"),url(http://justmindwork.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.svg?5.10.0#eicon) format("svg");font-weight:400;font-style:normal} </style> -->
    <link rel='stylesheet' id='elementor-post-411-css'  href='./elementor-css-post-411.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-279-css'  href='./elementor-css-post-279.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CQuicksand%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CWork+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=5.7.5' type='text/css' media='all' />
    <!-- <script>
      /* <![CDATA[ */
      var rcewpp = {
          "ajax_url":"http://justmindwork.com/wp-admin/admin-ajax.php",
          "nonce": "1df249b6ae",
          "home_url": "http://justmindwork.com/",
          "settings_icon": 'http://justmindwork.com/wp-content/plugins/export-wp-page-to-static-html/admin/images/settings.png',
          "settings_hover_icon": 'http://justmindwork.com/wp-content/plugins/export-wp-page-to-static-html/admin/images/settings_hover.png'
      };
      /* ]]\> */
    </script> -->

    <script type='text/javascript' src='./js/jquery-jquery.min.js' id='jquery-core-js'></script> <script type='text/javascript' src='./js/jquery-jquery-migrate.min.js' id='jquery-migrate-js'></script>
    <!-- <link rel="https://api.w.org/" href="http://justmindwork.com/wp-json/" />
    <link rel="alternate" type="application/json" href="http://justmindwork.com/wp-json/wp/v2/pages/279" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://justmindwork.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://justmindwork.com/wp-includes/wlwmanifest.xml" /> -->
    <meta name="generator" content="WordPress 5.7.5" />
    <!-- <link rel="canonical" href="http://justmindwork.com/" />
    <link rel='shortlink' href='http://justmindwork.com/' />
    <link rel="alternate" type="application/json+oembed" href="http://justmindwork.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fjustmindwork.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://justmindwork.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fjustmindwork.com%2F&#038;format=xml" /> -->
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <link rel="icon" href="./cropped-JMW-32x32.png" sizes="32x32" />
    <link rel="icon" href="./cropped-JMW-192x192.png" sizes="192x192" />
    <!-- <link rel="apple-touch-icon" href="http://justmindwork.com/wp-content/uploads/2021/07/cropped-JMW-180x180.png" /> -->
    <!-- <meta name="msapplication-TileImage" content="http://justmindwork.com/wp-content/uploads/2021/07/cropped-JMW-270x270.png" /> -->
    <!-- <style type="text/css" id="wp-custom-css">
      .contact-business-form .form-control {
        font-family: "Work Sans";
        font-size: 15px;
        font-weight: 300;
        color: #191919 !important;
        border-bottom-color: #ebebeb;
        border-left: none;
        border-right: none;
        border-top: none;
        padding-left: 0;
        padding-bottom: 13px;
        padding-top: 42px;
        margin-bottom: 15px;
        box-shadow: none;
      }

      .contact-business-form textarea.form-control {
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0;
      }

      .contact-business-form .submit-form {
        position: relative;
      }

      .contact-business-form .submit-form span {
        position: absolute;
        z-index: 10;
      }

      .contact-business-form .submit-form .wpcf7-submit {
        background: #188fdc;
        border: none;
        font-size: 13px;
        border-radius: 2px;
        padding: 13px 40px 14px;
      }

      .contact-business-form .submit-form .wpcf7-submit:hover {
        color: #fff;
      }

      .contact-business-form .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #b5b5b5;
      }

      .contact-business-form .form-control:focus::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #191919;
      }

      .contact-business-form .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #b5b5b5;
      }

      .contact-business-form .form-control:focus::-moz-placeholder {
        /* Firefox 19+ */
        color: #191919;
      }

      .contact-business-form .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #b5b5b5;
      }

      .contact-business-form .form-control:focus:-ms-input-placeholder {
        /* IE 10+ */
        color: #191919;
      }

      .contact-business-form .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #b5b5b5;
      }

      .contact-business-form .form-control:focus:-moz-placeholder {
        /* Firefox 18- */
        color: #191919;
      }

      .site-footer .site-info {
        display: none;
      }

      .business-video .elementor-widget-video .elementor-custom-embed-image-overlay img {
        display: none !important;
      }

      .business-video .elementor-widget-video .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
        position: static;
        transform: none;
      }

      .business-video .elementor-widget-video .elementor-custom-embed-image-overlay i {
        display: inline-block;
        text-shadow: none;
        border-radius: 50%;
        width: 51px;
        height: 51px;
        text-align: center;
        background-color: #188fdc;
        opacity: 1;
      }

      .business-video .elementor-widget-video .elementor-custom-embed-image-overlay i:before {
        font-size: 18px;
        line-height: 70px;
        font-family: 'Fontawesome';
        content: '\f04b';
        display: block;
        line-height: 52px;
      }

      container {
        max-height: 80%;
      }

      .wpcf7-form-control.wpcf7-submit {
        background-color: #f47900 !important;
        color: #fff;
        padding: 6px 20px;
      }

      .wpcf7-form-control.wpcf7-submit:hover {
        background-color: #000 !important;
        color: #f47900;
        padding: 18px 50px;
      }

      .is-sticky .site-header .custom-logo-link img {
        max-width: none;
      }

      .contact-business-form .form-control {
        border-bottom-color: #f47900!important;
        padding-top: 0px !important;
      }
    </style> -->
    <!-- <style id="kirki-inline-styles">
      h1,h2,h3,h4,h5,h6,
      .site-title {
        font-family: Quicksand;
        font-weight: 700;
      }

      body {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
      }

      .site-title {
        font-size: 36px;
      }

      .site-description {
        font-size: 16px;
      }

      .main-navigation ul ul li {
        font-size: 13px;
      }

      .blog-loop .entry-title {
        font-size: 42px;
      }

      .single-post .entry-title {
        font-size: 36px;
        color: #191919;
      }

      .widget-area .widget-title {
        font-size: 24px;
      }

      .widget-area .widget {
        font-size: 16px;
      }

      .sidebar-column .widget-title {
        font-size: 20px;
      }

      .sidebar-column .widget {
        font-size: 16px;
      }

      .site-info {
        font-size: 13px;
      }

      .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
      .product div.entry-summary p.price,
      .product div.entry-summary span.price,
      .athemes-blog:not(.airi_athemes_blog_skin) .posted-on a,
      .athemes-blog:not(.airi_athemes_blog_skin) .byline a:hover,
      .testimonials-section.style1:before,
      .single-post .read-more-link .gt,
      .blog-loop .read-more-link .gt,
      .single-post .posted-on a,
      .blog-loop .posted-on a,
      .entry-title a:hover,
      .airi_recent_entries .post-date,
      .menuStyle3 .top-bar .contact-item .fa,
      .menuStyle4 .contact-area .contact-block .contact-icon,
      .widget_categories li:hover::before,
      .widget_categories li:hover a {
        color: #f47900;
      }

      .product .single_add_to_cart_button.button.alt,
      .menuStyle4 .contact-area .contact-block .contact-icon,
      button,
      .button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"] {
        border-color: #f47900;
      }

      .woocommerce-checkout button.button.alt,
      .woocommerce-checkout button.button.alt:hover,
      .woocommerce-cart .cart-collaterals .cart_totals .button:hover,
      .woocommerce-cart .cart-collaterals .cart_totals .button,
      .product .single_add_to_cart_button.button.alt:hover,
      .product .single_add_to_cart_button.button.alt,
      .woocommerce ul.products li.product .button,
      .menuStyle2 .main-navigation a:hover:after,
      .menuStyle2 .main-navigation .current-menu-item:after,
      .comments-area .comment-reply-link:hover,
      .menuStyle4 .main-navigation .header-cta:before,
      .menuStyle4 .main-navigation .header-cta,
      button,
      .button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"],
      .menuStyle3 .main-navigation a:hover:after,
      .menuStyle3 .main-navigation .current-menu-item:after {
        background-color: #f47900;
      }

      .menuStyle2 .site-title a {
        color: #191919;
      }

      .menuStyle2 .sticky-wrapper.is-sticky .site-title a {
        color: #191919;
      }

      .menuStyle2 .site-description {
        color: #707070;
      }

      .menuStyle2 .sticky-wrapper.is-sticky .site-description {
        color: #707070;
      }

      .menuStyle2 .main-navigation a,
      .menuStyle2 .header-search-toggle,
      .menuStyle2 .header-search-cart li a {
        color: #f47900;
      }

      .menuStyle2 .sticky-wrapper.is-sticky .main-navigation a,
      .menuStyle2 .is-sticky .header-search-toggle,
      .menuStyle2 .is-sticky .header-search-cart li a {
        color: #f47900;
      }

      .menuStyle2 .site-header {
        background-color: #ffffff;
      }

      .menuStyle2 .is-sticky .site-header {
        background-color: #ffffff;
      }

      .menuStyle2 .mobile-menu-toggle_lines,
      .menuStyle2 .mobile-menu-toggle_lines:before,
      .menuStyle2 .mobile-menu-toggle_lines:after {
        background-color: #f47900;
      }

      #site-navigation ul ul li a {
        color: #1c1c1c;
      }

      #site-navigation ul ul li {
        background-color: #f7f7f7;
      }

      .menuStyle1 .mobile-menu-toggle_lines,
      .menuStyle1 .mobile-menu-toggle_lines:before,
      .menuStyle1 .mobile-menu-toggle_lines:after,
      .menuStyle1 .mobile-menu-toggle_lines,
      .mobile-menu-toggle_lines:before,
      .mobile-menu-toggle_lines:after,
      .mobile-menu-toggle_lines,
      .menuStyle3 .mobile-menu-toggle_lines,
      .menuStyle3 .mobile-menu-toggle_lines:before,
      .menuStyle3 .mobile-menu-toggle_lines:after {
        background: #ffffff;
      }

      .entry-title a {
        color: #191919;
      }

      .single-post .post-cat,
      .blog-loop .post-cat {
        background-color: #eff1f4;
      }

      .single-post .entry-meta,
      .blog-loop .entry-meta {
        color: #bfbfbf;
      }

      .single-post .entry-meta .byline a,
      .blog-loop .entry-meta .byline a {
        color: #595959;
      }

      .single-post .entry-content,
      .blog-loop .entry-content {
        color: #595959;
      }

      .widget .widget-title {
        color: #191919;
      }

      .widget {
        color: #707070;
      }

      .widget a {
        color: #595959;
      }

      @media screen and (max-width: 1199px) {
        .menuStyle2 .site-header .main-navigation .menu li a,
        .menuStyle2 .main-navigation li.menu-item-has-children>a:hover+.subnav-toggle,
        .menuStyle2 .main-navigation ul .subnav-toggle:hover {
          color: #f47900;
        }
        .menuStyle2 .main-navigation a:hover:after,
        .menuStyle2 .main-navigation .current-menu-item:after {
          background-color: #f47900;
        }
      }


      /* vietnamese */

      @font-face {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./fonts/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58m-xDwxUD22FNZc.woff) format('woff');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }


      /* latin-ext */

      @font-face {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./fonts/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-xDwxUD22FNZc.woff) format('woff');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }


      /* latin */

      @font-face {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./fonts/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-xDwxUD22FA.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }


      /* vietnamese */

      @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiAJoI3ZKyHqQvhf.woff) format('woff');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }


      /* latin-ext */

      @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiEJoI3ZKyHqQvhf.woff) format('woff');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }


      /* latin */

      @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8JoI3ZKyHqQg.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style> -->
    <style type="text/css">
      .background_vid{
        height: 100%;
        width: 100%;
        margin-top: 75px;
      }
      .webdevelop:hover{
        color: white;
        background-color: #F47900;
      }
    </style>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  </head>
  <body class="">
    <div>
      <!-- <a class="skip-link screen-reader-text" href="#content">Skip to content</a> -->
      <%= render "layouts/header" %>

      <!-- #masthead -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <div>
              <div >
                <section class="">
                  <div class="home-video-wrapper">
                    <div class="home_video">
                      <%= video_tag "Pexels-Videos-2699.mp4", id: 'background_vid', class: 'background_vid',  autoplay: :autoplay, loop: :loop, muted: :muted  %>
                    </div>
                    <div class="">
                        <div class="" style="text-align:center;">
                          <h2 class="" style="font-size: 45px; color: #F47900;text-align: center; margin-left:500px; margin-top: 250px;">Welcome  to <br /> Just Mind Work</h2>
                        </div>
                        <div class="">
                          <div class="" style="text-align: center;">      <span class="" style="color: #F47900; margin-left: 500px;">Start your Project Now!</span>   </div>
                        </div>
                          <div class="" style="text-align: center;">
                            <%= link_to "Get a Quote",jmw_contact_us_path,{:style => 'color: white; border: 2px solid white ; margin-left: 500px; margin-bottom:10px; padding: 5px 15px;', class: "button"} %>
                              <%#= button_to "Get a Quote",jmw_contact_us_path %>
                          </div>
                      </div>
                  </div>
                </section>
                <section class="" >
                    <div class="">
                      <div class="">
                          <div class="">
                            <h2  style="text-align: center; margin-top: 100px; font-size: 42px; line-height: 48px;">Our Services</h2>
                          </div>
                          <div>
                            <p class="" style="text-align: center; font-size: 18px; line-height: 1;">We are a small creative team, trying to enrich the lives of others with   our services but are not limited to just these!</p>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="" style="column-count:2;">
                  <div class="">
                    <div class="webdevelop" style="margin-left:50px; margin-top: 25px; ">
                        <div class="">
                            <div class="">
                              <div class="">
                                <i aria-hidden="true" class="fas fa-laptop" style="font-size:40px;color:lightblue;margin-left: 200px; margin-top: 25px; text-shadow:2px 2px 4px #F47900;fill: #F47900;"></i><br>
                                <h3>
                                  <%= link_to "Web Development", jmw_web_development_path, {:style => 'color: black;margin-left:100px;text-decoration: none; font-size: 22px;line-height: 29px;'} %>
                                </h3>
                              </div>
                              <div>
                                <p class="" style="text-align:center;">Creative web solutions blended with the latest technologies <br> form the right base for innovative businesses.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                          <div class="webdevelop" style="margin-top: 25px;margin-right: 25px;">
                              <div class=""> <i aria-hidden="true" class="fas fa-mobile-alt" style="font-size:40px;color:lightblue;margin-top: 25px; margin-left: 200px; text-shadow:2px 2px 4px #F47900;fill: #F47900;"></i><br>
                                <h3>
                                  <%= link_to "Mobile App Development", jmw_our_services_path, {:style => 'color: black; margin-left:75px; font-size: 22px;line-height: 29px;text-decoration: none;'} %>
                                </h3>

                              </div>
                              <div class="">
                                <!-- <h3 class="elementor-icon-box-title">           <a href="/mobile-app-solutions/">Mobile App Development</a>         </h3> -->
                                <p class="" style="text-align:center;">Our team of experts is dedicated to building custom mobile app <br> solutions by utilizing the latest technologies to solve unique and challenging business problems.</p>
                              </div>
                          </div>
                  </div>
                </section><br>
                <section>
                  <div style="column-count:4; background-color:#F47900; color: whitesmoke; margin-left: 20px;">
                    <div style="padding-top: 10px;">
                      <h3><b> Happy <br> Clients</b></h3>
                    </div>
                    <div style="padding-top: 5px; padding-bottom: 5px;">
                      <h3><b>Year <br>of <br>Experience</b></h3>
                    </div>
                    <div>
                      <h3><b>Projects <br>Completed</b></h3>
                    </div>
                    <div style="padding-top: 10px;">
                      <h3><b>Industry <br>Experts</b></h3>
                    </div>
                  </div>
                </section>
                <section style="margin-left:30px; margin-top:40px; column-count:2;">
                  <div style="font-size:42px;">
                    <h3>About Us</h3>
                  </div><br>
                  <div>
                    <p>
                      At JMW we want to be your end to end IT service organization, big enough to undertake your largest project, yet small enough to maintain the loyalty and the intimacy of a firm and in turn contribute greatly to your success <br>
                    <strong>WHAT JMW ALL ABOUT</strong><br>
                    Our team is made up of people who live and breathe technology and for us, it is all about passion, not job. We work towards our client’s success. This is reflected in the relationship we build with our clients spanning multiple years. Over the years, we have had the opportunity to work for several B2B and B2C SaaS, technology companies within several sectors.</p>
                  </div>
                  <div>
                    <%= image_tag("pexels-christina-morillo-1181244-1.jpg", {:style=> "height: 300px; width: 550px;"}) %>
                  </div>
                </section>
                <section>
                  <div  style="margin-left:30px;">
                    <%= link_to "Know More", jmw_contact_us_path,{:style => 'color: white; border: 2px solid white ; margin-bottom:10px; padding: 5px 15px;', class: "button"} %>
                    <%#= button_to "Know More", jmw_contact_us_path %>
                  </div>
                </section>
                <section>
                  <div style="background-color: #F47900; text-align:center; color: whitesmoke; margin-top: 30px;">
                    <div style="padding-top: 20px;">
                      <h6>WHY TO CHOOSE</h6>
                    </div>
                    <div style="padding-bottom: 10px;">
                      <h2>Just Mind Work</h2>
                    </div>
                  </div>
                </section>
                <section class="" style="column-count: 3; margin-top: 20px;">
                  <div class="">
                    <div class="">
                      <div class="" style="margin-left:20px; ">
                              <div class="elementor-icon-box-icon">         <span class="elementor-icon elementor-animation-" >         <i aria-hidden="true" class="fas fa-address-card"></i>        </span>       </div>
                              <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">           <span >Holistic</span>        </h3>
                                <p class="elementor-icon-box-description">We seek out entrepreneurs and businesses that share our passion for disruption. And look to join forces.</p>
                              </div>
                        </div>
                    </div>
                      <div class="">
                        <div class="">
                              <div class="elementor-icon-box-icon">         <span class="elementor-icon elementor-animation-" >         <i aria-hidden="true" class="fas fa-code"></i>        </span>       </div>
                              <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">           <span >Goal Oriented</span>         </h3>
                                <p class="elementor-icon-box-description">At JMW, we focus on developing unerring results by setting precise goals. One goal, One direction.</p>
                              </div>
                        </div>
                      </div>
                    <div class="">
                      <div class="elementor-icon-box-wrapper">
                              <div class="elementor-icon-box-icon">         <span class="elementor-icon elementor-animation-" >         <i aria-hidden="true" class="fas fa-laptop-code"></i>       </span>       </div>
                              <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">           <span >Specialists</span>         </h3>
                                <p class="elementor-icon-box-description">Angular, Python, React, Ruby on Rails. The more 'niche' the better. We relish technological challenges.</p>
                              </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div style="text-align: center; margin-top: 15px; background-image: url(pexels-christina-morillo-1181244-1.jpg);">
                    <p>WE WORK ON FOLLOWING</p>
                  </div>
                  <div style="text-align: center;">
                    <h3>TECHNOLOGIES</h3>
                  </div>
                </section>
                <section style="column-count:5;">
                  <div>
                    <div>
                      <%= image_tag("1.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("2.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("3.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("4.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("5.jpg", {:style=> "width:150px"}) %>
                    </div>
                  </div>
                  <div>
                    <div>
                      <%= image_tag("6.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("7.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("8.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("9.jpg", {:style=> "width:150px"}) %>
                    </div>
                    <div>
                      <%= image_tag("10.jpg", {:style=> "width:150px"}) %>
                    </div>
                  </div>
                </section>
                <section>
                  <div style="background-color:#F47900;">
                    <div style="text-align:center; color: whitesmoke;">
                    <h2 class="" style="padding-top: 10px;">Let’s Talk About Your Project</h2>
                    </div>
                    <div style="text-align:center;color: whitesmoke;">
                      <p class="">We stay on top of our industry by being experts in yours.</p>
                    </div>
                    <div style="text-align: center; margin-bottom: 10px;">
                      <div style="padding-bottom: 10px;">
                        <%= link_to "Get a Quote",jmw_contact_us_path, {:style => 'color: white; border: 2px solid white ; margin-bottom:10px; padding: 5px 15px;', class: "button"} %>
                      </div>
                    </div>
                </div>
                  </div>

                </section>
              </div>
            </div>
          </main>
          <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- #content -->

      <%= render "layouts/footer" %>


      <!-- #colophon -->
    </div>
    <!-- #page -->  <script type='text/javascript' src='./elementor-assets-lib-slick-slick.min.js' id='jquery-slick-js'></script> <script type='text/javascript' src='./udd-imagesloaded.min.js' id='imagesloaded-js'></script> <script type='text/javascript' src='./airi-js-vendor-navigation.js' id='airi-navigation-js'></script> <script type='text/javascript' src='./dist-vendor-wp-polyfill.min.js' id='wp-polyfill-js'></script>
     <script type='text/javascript' id='contact-form-7-js-extra'>
      /* <![CDATA[ */
      var wpcf7 = {"api":{"root":"http:\/\/justmindwork.com\/wp-json\/","namespace":"contact-form-7\/v1"}};
      /* ]]> */
    </script>
    <script type='text/javascript' src='./contact-form-7-includes-js-index.js' id='contact-form-7-js'></script>
    <script type='text/javascript' src='./ht-mega-for-elementor-assets-js-popper.min.js' id='htmega-popper-js'></script>
    <script type='text/javascript' src='./ht-mega-for-elementor-assets-js-htbbootstrap.js' id='htbbootstrap-js'></script>
    <script type='text/javascript' src='./ht-mega-for-elementor-assets-js-waypoints.js' id='waypoints-js'></script>
    <script type='text/javascript' src='./airi-js-vendor-skip-link-focus-fix.js' id='airi-skip-link-focus-fix-js'></script>
    <script type='text/javascript' src='./airi-js-vendor-scripts.js' id='airi-scripts-js'></script>
    <script type='text/javascript' src='./airi-js-custom-custom.min.js' id='airi-main-js'></script>
    <script type='text/javascript' src='./npc-wp-embed.min.js' id='wp-embed-js'></script>
    <script type='text/javascript' src='./elementor-assets-lib-jquery-numerator-jquery-numerator.min.js' id='jquery-numerator-js'></script>
    <script type='text/javascript' src='./elementor-assets-js-webpack.runtime.min.js' id='elementor-webpack-runtime-js'></script>
    <script type='text/javascript' src='./elementor-assets-js-frontend-modules.min.js' id='elementor-frontend-modules-js'></script>
    <script type='text/javascript' src='./elementor-assets-lib-waypoints-waypoints.min.js' id='elementor-waypoints-js'></script>
    <script type='text/javascript' src='./jquery-ui-core.min.js' id='jquery-ui-core-js'></script>
    <script type='text/javascript' src='./ht-mega-for-elementor-assets-js-swiper.min.js' id='swiper-js'></script>
    <script type='text/javascript' src='./elementor-assets-lib-share-link-share-link.min.js' id='share-link-js'></script>
    <script type='text/javascript' src='./elementor-assets-lib-dialog-dialog.min.js' id='elementor-dialog-js'></script>

    <script type='text/javascript' src='./elementor-assets-js-frontend.min.js' id='elementor-frontend-js'></script>
    <script type='text/javascript' src='./elementor-assets-js-preloaded-modules.min.js' id='preloaded-modules-js'></script>
  </body>
</html>
